body, html {
  height:100%;
  margin:0px;
  padding: 0px;
}
.bg-light{
  background-color:  #EFEFEF;
  margin-right:100px;
}
#main{
  margin-top:50px;
}
#navigate{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #EFEFEF;
  position: fixed;
  height: 100%;
}

/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {

  #navigate{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: 33%;
    display: inline-block;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
    display: inline-block;
  }

  .sidebar-offcanvas {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -10%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}
