*{
    font-family: 'Open Sans', sans-serif;
}

.text-success{
    margin-top: 25px !important;
    color:#355E7E !important;
}
.card{
    background-color:#EFEFEF; 
    border-color:#EFEFEF;
}
#log{
    background-color:#F85E76 !important;
    border-color:#F85E76;
    margin-bottom: 15px;
    margin: auto;
}
#unete{
    margin: auto;
}
#btn{
    background-color:#F85E76 !important;
    border-color: #F85E76 !important;
}

.btn-primary:hover{
    border-color: #F85E76 !important;
    text-decoration: none !important;
}


