*{
    font-family: 'Open Sans', sans-serif;
}

h4{
    color:#355E7E;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
label{
    margin-top: 7px;
    color:#355E7E;
}
.build{
    margin-top:20px;
}

#init{
        background-color:#F85E76 !important;
        border-color: white;
        border-radius: 8px;
        width: 200px;
        margin: auto;
    }
.form-check{
    margin-top:10px;
}
.form{
    margin-top: 7px;
}