.bg-light {
    background-color: #355e7e !important;
    color: white !important;
    text-align: center !important;
}

#unete, #unetea{
    background-color: #f1717f;
   
    color: white;
    border: none;
}
#ingresa{
    background-color: transparent;
    color: white;
    font-size: 14px;
}