.bg-light {
    background-color: #355e7e !important;
    color: white !important;
    text-align: center !important;
}

.home-intro{
    padding-top: 150px;
}

.home-purpose{
    min-height: 100px;
}

#unete, #unetea{
    background-color: #F85E76;
    color: white;
    border: none;
}
#ingresa{
    background-color: transparent;
    color: white;
    font-size: 14px;
}
#ingresar{
    color: #355e7e;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

#purpose, #purpose2, #purpose3{
    border-bottom: 4px solid #F85E76;
    margin-bottom: 30px;
    width: 22rem;
}

.card .card-body{
    color: #355e7e;
    
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#registro, #ingresarEmp{
    background-color: #F85E76;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
}

#services, #services1, #services2{
    width: 22rem;
}

#title-services, #title-services1, #title-services2{
    background-color: #254863;
}

#logo-footer, #logo-nav{
   width: 150px;
}

#aprende{
    color: white;
    background-color: transparent;
    margin-top: 20px !important;
}
